{
	"name": "__APP_NAME__",
	"private": true,
	"version": "0.1.0",
	"type": "module",
	"scripts": {
		"dev": "vite --config config/vite.config.ts",
		"build": "tsc -p config/tsconfig.app.json --noEmit && vite build --config config/vite.config.ts",
		"preview": "vite preview --config config/vite.config.ts",
		"typecheck": "tsc --noEmit -p config/tsconfig.app.json",
		"lint": "oxlint --config config/oxlint.json src"
	},
	"dependencies": {
		"preact": "^10.29.1"
	},
	"devDependencies": {
		"@preact/preset-vite": "^2.10.5",
		"oxlint": "^1.61.0",
		"sass-embedded": "^1.99.0",
		"typescript": "^6.0.3",
		"vite": "^8.0.10"
	}
}
