{
  "name": "__APP_NAME__",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "tsc -b && vite build",
    "preview": "vite preview",
    "lint": "oxlint src"
  },
  "dependencies": {
    "preact": "^10.25.4"
  },
  "devDependencies": {
    "@preact/preset-vite": "^2.10.0",
    "sass": "^1.83.0",
    "typescript": "^5.7.2",
    "vite": "^6.0.5",
    "oxlint": "^0.15.3"
  }
}
